<mat-card style="width: 500px;margin: auto;height: 500px; background-color: black;color: white;">
<mat-card-header style="margin: auto; background-color: black;color: white;">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Hey Coder </mat-card-title>
    <mat-card-subtitle style="color: white;">Congratulations for completing 100 Questions</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://th.bing.com/th/id/R.ea70719833fced094b84416d29a2c6c4?rik=yjZtNdt%2b8Cd03w&riu=http%3a%2f%2fclipartmag.com%2fimages%2fcongratulations-graphic-32.jpg&ehk=U3chmvWSkOssAaWFCJdX2rMI71YiihIb%2fcFvBvQWDsE%3d&risl=&pid=ImgRaw&r=0">
</mat-card>