<body [ngStyle]="{'background-color': '#1e1e1e', 'position': 'relative', 'overflow': 'hidden'}">
  <div class="banner">
    <mat-card class="banner-card">
      <mat-card-title>OOPS Concepts to Crack Interviews</mat-card-title>
    </mat-card>
  </div>

  <div class="container">
    <mat-card class="content-card">
      <mat-card-title>Important OOPs Concepts</mat-card-title>
      <mat-card-content>
        <p>
          As the name suggests, Object-Oriented Programming or OOPs refers to languages that use objects in programming. Object-oriented programming aims to implement real-world entities like inheritance, hiding, polymorphism, etc. in programming. The main aim of OOP is to bind together the data and the functions that operate on them so that no other part of the code can access this data except that function.
          <br><br>
          Learn Important OOPs Concepts by clicking each link given below 👇:
        </p>
        <ul>
          <li>👉 <a href="https://www.geeksforgeeks.org/object-oriented-programming-oops-concept-in-java/?ref=lbp" target="_blank">Introduction to OOPS</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/c-classes-and-objects/?ref=lbp" target="_blank">C++ Class & Objects</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/abstraction-in-cpp/?ref=lbp" target="_blank">Abstraction</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/encapsulation-in-cpp/?ref=lbp" target="_blank">Encapsulation</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/difference-between-inheritance-and-polymorphism/?ref=lbp" target="_blank">Inheritance & Polymorphism</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/inheritance-in-c/" target="_blank">Inheritance & its types</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/cpp-polymorphism/" target="_blank">Types of Polymorphism</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/constructor-overloading-c/" target="_blank">Constructor overloading</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/copy-constructor-in-cpp/?ref=lbp" target="_blank">Copy Constructor in C++</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/exception-handling-c/?ref=lbp" target="_blank">Exceptional handling in C++</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/file-handling-c-classes/?ref=lbp" target="_blank">File Handling</a></li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="content-card">
      <mat-card-title>Advanced OOPs Concepts</mat-card-title>
      <mat-card-content>
        <p>If you have completed all these important topics, look out for advanced OOPs concepts involving some design patterns given below 👇:</p>
        <ul>
          <li>👉 <a href="https://www.tutorialspoint.com/design_pattern/factory_pattern.htm" target="_blank">Factory Design Pattern</a> <span class="important-tag">*Important*</span></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/abstract-factory-pattern/" target="_blank">Abstract Factory Pattern</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/singleton-pattern/" target="_blank">Singleton Pattern</a> <span class="important-tag">*Important*</span></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/observer-pattern/" target="_blank">Observer Pattern</a></li>
          <li>👉 <a href="https://www.geeksforgeeks.org/friend-class-function-cpp/" target="_blank">Friend Class and Functions</a> <span class="important-tag">*Important*</span></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</body>
