.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 35%,
    #44107a 10%,
    #ff1361 90%,
    #fff800 100%
  );
  /* background-size: auto auto; */
  background-clip: border-box;
  /* background-size: 200% auto; */
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  display: inline-block;
      font-size: 20px;
}

body{
   background-color: black; 
}
@keyframes textclip {
    
  }

@media (max-width:1000px) {
    iframe{
      width: 50%;
      height: 50%;
    }
}

mat-expansion-panel{
  background-color: grey;
  color:white;
}
mat-panel-title{
  color: white;
}

mat-panel-description{
  color:white;
}