<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div>
<p class="animate-charcter">Important Videos of My Youtube Playlist</p>
<br>
<br>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
           CTC Breakdown of Microsoft & Apple
        </mat-panel-title>
        <mat-panel-description>
           Open this panel to see Actual Breakup you need to Understand
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe width="435px" height="400px" src="https://www.youtube.com/embed/Kc_Fpb9SnEM" title="CTC breakup of Microsoft | Apple" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" ></iframe>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Coding Round Startegy
        </mat-panel-title>
        <mat-panel-description>
          Focus more on Story Based problems
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe width="935" height="526" src="https://www.youtube.com/embed/alIuWoqfoIE" title="Coding Rounds Strategy for placements" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rodmap of DSA Preparation
        </mat-panel-title>
        <mat-panel-description>
          Coding For Beginners
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe width="935" height="526" src="https://www.youtube.com/embed/uOk98r0p-oo" title="Roadmap of DSA Preparation | Coding for Beginners" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Top Searched Questions
        </mat-panel-title>
        <mat-panel-description>
          Top 6 Binary Search Questions to revise before Any Tech interview
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe width="935" height="526" src="https://www.youtube.com/embed/CbIXI-0vZuI" title="Top search questions | Top 6 Binary search problems before any interview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Top 10 Array Questions
        </mat-panel-title>
        <mat-panel-description>
          Questions to review before any Tech interview
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe width="935" height="526" src="https://www.youtube.com/embed/_NkAMzNhvYo" title="Top 10 arrays interview questions Before Any interview" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Basics of High Level Design
        </mat-panel-title>
        <mat-panel-description>
           Basics of HLD for freshers, Click to watch all topics
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
           Topic 1
        </mat-panel-title>
        <mat-panel-description>
            High Level Design for Interviews, Glimpse of Starting
        </mat-panel-description>
      </mat-expansion-panel-header>
      <iframe width="935" height="526" src="https://www.youtube.com/embed/eGO3491U51Q" title="High Level Design for Interviews, Glimpse of Starting" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
    </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
        Topic 2
        </mat-panel-title>
        <mat-panel-description>
            Architectures of System Design | System Design Introduction
        </mat-panel-description>
        </mat-expansion-panel-header>
        <iframe width="935" height="526" src="https://www.youtube.com/embed/isBr0oRIhTc" title="Architectures of System Design | System Design Introduction" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
        Topic 3
        </mat-panel-title>
        <mat-panel-description>
            Properties of System
        </mat-panel-description>
        </mat-expansion-panel-header>
        <iframe width="935" height="526" src="https://www.youtube.com/embed/ZlZ44WM9jX4" title="Properties of System | Consistency | Availability | Latency | Fault Tolerance" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
        Topic 4
        </mat-panel-title>
        <mat-panel-description>
           CAP Theorem in Easiest Way
        </mat-panel-description>
        </mat-expansion-panel-header>
        <iframe width="935" height="526" src="https://www.youtube.com/embed/0aX-XGrJYA0" title="CAP Theorem in easy Way | High Level Design" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </mat-expansion-panel>

    </mat-expansion-panel>
    
  </mat-accordion>
  

<div>
    
</div>
<br>
<br>

<div>
    <p class="animate-charcter">Other Youtube Playlists for OOPS,DBMS,OS,CN </p>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
           Object Oriented Programming
        </mat-panel-title>
        <mat-panel-description>
            Learn OOP from the below playlist
        </mat-panel-description>
      </mat-expansion-panel-header>
       <a href="https://www.youtube.com/playlist?list=PL9gnSGHSqcno1G3XjUbwzXHL8_EttOuKk" target="_blank">
        Click on this to view Best OOP playlist on Youtube
       </a>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
           Data base Management System
        </mat-panel-title>
        <mat-panel-description>
            Open to Learn concepts before Internship/Placement Season
        </mat-panel-description>
      </mat-expansion-panel-header>
       <a href="https://www.youtube.com/playlist?list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y" target="_blank">
        Click on this to view Best DBMS playlist on Youtube
       </a>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Operating System
        </mat-panel-title>
        <mat-panel-description>
            Open to Learn concepts before Internship/Placement Season
        </mat-panel-description>
      </mat-expansion-panel-header>
       <a href="https://www.youtube.com/playlist?list=PLxCzCOWd7aiGz9donHRrE9I3Mwn6XdP8p" target="_blank">
        Click on this to view Best OS playlist on Youtube
       </a>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Computer Networks in 6 hours only
        </mat-panel-title>
        <mat-panel-description>
            Learn Computer Networks in just 6 hours
        </mat-panel-description>
      </mat-expansion-panel-header>
       <a href="https://www.youtube.com/watch?v=q3Z3Qa1UNBA" target="_blank">
         learn CN in few hours
       </a>
    </mat-expansion-panel>
</div>
</div>

</body>
</html>